<!-- PLC State :  (plcstate = 1 | plcstate = 2 | plcstate = 3 | plcstate = 4 | plcstate = 5  )?{{plcstate}}: "Incompatible Data" ; -->
<div [ngSwitch]="plcstate">
 <div class="led-box" > <div *ngSwitchCase="'1'" [ngClass] = "{'led-red' : false, 'led-red-steady' : true , 'led-green-steady' : false, 'led-green-flashing' : false, 'led-yellow-steady' : false, 'led-yellow': false }"> </div> </div>
 <div class="led-box"> <div *ngSwitchCase="'2'" [ngClass] = "{'led-red' : false, 'led-red-steady' : false , 'led-green-steady' : false, 'led-green-flashing' : true, 'led-yellow-steady' : false, 'led-yellow': false }"> </div> </div>
 <div class="led-box"> <div *ngSwitchCase="'3'" [ngClass] = "{'led-red' : false, 'led-red-steady' : false , 'led-green-steady' : true, 'led-green-flashing' : false, 'led-yellow-steady' : false, 'led-yellow': false }"> </div> </div>
<div *ngSwitchCase="'4'">
    <div class="row">
            <div class="led-box col-xs-2" >
            <div [ngClass] = "{'led-red' : false, 'led-red-steady' : false , 'led-green-steady' : true, 'led-green-flashing' : false, 'led-yellow-steady' : false, 'led-yellow': false }"> </div> 
            </div>
            <div class="led-box col-xs-1" >
            <div [ngClass] = "{'led-red' : false, 'led-red-steady' : false , 'led-green-steady' : false, 'led-green-flashing' : false, 'led-yellow-steady' : true, 'led-yellow': false }"> </div> 
     </div>
    </div>
 </div>    
 <div class="led-box"> <div *ngSwitchCase="'5'" [ngClass] = "{'led-red' : false, 'led-red-steady' : false , 'led-green-steady' : false, 'led-green-flashing' : false, 'led-yellow-steady' : false, 'led-yellow': true }"> </div> </div>
 <div class="led-box"> <div *ngSwitchDefault [ngClass] = "{'led-red' : false, 'led-red-steady' : false , 'led-green-steady' : false, 'led-green-flashing' : false, 'led-yellow-steady' : false, 'led-yellow': false }"> </div> </div>
</div>
